input {
  position: relative;
  border: 2px solid #ffa500b0;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0;
  width: 250px;
  color: white;
  background: transparent;
}

input:focus,
input:active {
  transform: scale(1.01);
  border: 2px solid orange;
  outline: none;
}

p {
  color: #ffffffed;
}
